@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .heading{
  color : red;
  font-family: 'Bungee Spice', cursive;
  font-size: 5vh;
  text-align: center;
  text-shadow: 2px 2px 2px 2px #000;
}

.img_div{
  background-color: black;
  justify-content: center;
  align-items: center;
}

.img_div img{
  padding: 5vh;
  width : 20vw;
  height: 60vh;
  border-radius: 20%;
}

.img_div img:hover{
    transform: scale(1.2);
} */

h1{
  font-size: 2em;
  color : red;
  text-transform: capitalize;
  text-shadow: 0.2rem 0.2rem 0.2rem #000;
  font-weight: bold;
}

p{
  font-weight: bold;
  font-size: 1.2em;
}

ol li{
  list-style-type: square;
  font-weight: bold;
  line-height: 5vh;
}